<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>QRCode Game</title>
    <meta name="keywords" content="omniauth, authlogic, rails 2.3, oauth, oauth2, demo" />
    <meta name="description" content="An application demonstrating external authentication using omniauth with authlogic in rails" />
    <%= stylesheet_link_tag 'application' %>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <%= yield(:head) %>
  </head>
  <body>
    

    <div id="container">
      <div id="logo">
      </div>
      <div id="user_nav">
        <% if false %>
          <%= link_to "Signout!", signout_path %>
        <% end %>
      </div>
      <div class="clear"></div>
      <br />
		<% if false %>
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
	<% end %>

      <%- if show_title? -%>
        <h2><%=h yield(:title) %></h2>
      <%- end -%>

      <%= yield %>

    
      <div class="clear"></div>
    </div>
  
  </body>
</html>
